


* {
    color: wheat;
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
    background-color:rgb(97, 96, 96);
    font-size: 12px;
    border: none;
}

#menu{
   display: flex;
}
 button{
    background-color: wheat;
    color: black;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    
    border:none;
    border-radius: 3px;
    


}