/* Application-wide Styles */
h1 {
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }


  .star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: wheat;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid wheat;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  .star-five:before {
    border-bottom: 80px solid wheat;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-five:after {
    position: absolute;
    display: block;
    color: wheat;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid wheat;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  #titleStars{
    margin-top: 20px;
    
    display: flex;
    justify-content: space-around;
    
  }

  #title{
    font-size: 70px;
  }


 