
* {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overAllRating{
    display: flex;
    
    flex-direction: row;
}

input{
    background-color:rgb(97, 96, 96);
    width: 40px;
    border: none;
}



 div.overall{
     font-weight: bolder;
     color: cyan;
 }

 div > div > span{
     font-size: 30px;
 }

 div.combat > span > label > div, div.speed > span > label > div, div.intelligence > span > label > div, div.strength > span > label > div{
     color: red;
 }

 