/* You can add global styles to this file, and also import other style files*/ 
app-root > div{
    display: flex;
    justify-content: center;
    
}

app-root > nav{
    
    display: flex;
    justify-content: center;
}



app-root > nav> a:nth-child(1){
    
    width: 200px;
    background-color:wheat;
    display: flex;
    justify-content: center;
    border-radius: 25px 75px 15px 5px;
    padding: 10px;
    margin: 0 20px 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

app-root > nav> a:nth-child(2){
    width: 200px;
    background-color:wheat;
    display: flex;
    justify-content: center;
    border-radius: 75px 25px 5px 15px;
    padding: 10px;
    margin: 0 20px 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

body > app-root > nav > a{
    font-size: 25px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






app-heroes {
    display: flex;
    justify-content: space-evenly;
    min-width: 66%;
}

#title {
    display: flex;
    justify-content:center;
    color:wheat
}

app-heroes > div{
    
    display: inline-block;
}

app-heroes > div > h2{
    
    display: flex;
    justify-content: center;
}

app-hero-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-messages > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-heroes-list > div > button  {
    padding: 3px;
    margin-top: 10px;
    display: block;
    
   border: none;
   border-radius: 0 4px  4px 0;
   background-color: tomato;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: wheat;
   font-size: 16px;
    
}
app-heroes-list > div > button > span {
    display: inline-block;
    font-size: small;
    color:wheat;
    padding:  8px;
    background-color:#80120f;
    line-height: 1em;
   
   
    margin-right: 5px;
    border-radius:  0 4px 4px  0;
    width:60px;
}






.red{
    background-color: #ff3f34;
    border-radius: 5px 5px 30px 30px;
    padding: 15px;
    width: 30px;
}

.yellow{
    background-color: #ffd32a;
    border-radius: 5px 5px 30px 30px;
    padding: 15px;
    width: 30px;
}

.green{
    background-color: #05c46b;
    border-radius: 5px 5px 30px 30px;
    padding: 15px;
    width: 30px;
}

.blue{
    background-color: #3c40c6;
    border-radius: 5px 5px 30px 30px;
    padding: 15px;
    width: 30px;
}

.displayNone{
    display: none;
}

body{
    background-color:black;
}
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
 
  ::-webkit-scrollbar-thumb {
    background-color: #80120f;
    border-radius: 20px;
  }