/* You can add global styles to this file, and also import other style files*/ 
app-root > div{
    display: flex;
}
app-heroes {
    display: flex;
    justify-content: space-evenly;
    min-width: 66%;
}

#title {
    display: flex;
    justify-content:center;
    color:wheat
}

app-heroes > div{
    
    display: inline-block;
}

app-heroes > div > h2{
    
    display: flex;
    justify-content: center;
}



app-heroes-list > div > button  {
    padding: 3px;
    margin-top: 10px;
    display: block;
    
   border: none;
   border-radius: 4px 0 0 4px;
   background-color: tomato;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: wheat;
   font-size: 16px;
    
}
app-heroes-list > div > button > span {
    display: inline-block;
    font-size: small;
    color:wheat;
    padding:  8px;
    background-color:#80120f;
    line-height: 1em;
   
   
    margin-right: 5px;
    border-radius:  0 4px 4px  0;
    width:60px;
}




.red{
    background-color: #ff3f34;
    border-radius: 30px;
    padding: 15px;
}

.yellow{
    background-color: #ffd32a;
    border-radius: 20px;
    padding: 15px;
}

.green{
    background-color: #05c46b;
    border-radius: 10px;
    padding: 15px;
}

.blue{
    background-color: #3c40c6;
    border-radius: 2px;
    padding: 15px;
}

.displayNone{
    display: none;
}

body{
    background-color:black;
}
