/* HeroesComponent's private CSS styles */
*{
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: black;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px 0 0 4px;
  }
  .heroes li:hover {
    color:black;
    background-color: silver;
    left: .1em;
  }
  .heroes li.selected {
    
    color:black;
  }
  .heroes li.selected:hover {
    background-color:silver;
    color :grey
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    
    padding: 0.8em 0.7em 0 0.7em;
    background-color:grey;
    line-height: 1em;
    position: relative;
    left: 10px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width:40px;
    
  }

 

  div >  ul > li {
    background-color: silver;
   
    
  }
 ul > li > a{
   text-decoration: none;
 }
